* {

    margin: 0;
    padding: 0;

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {

    font-family: monstserrat;

    /*nav bar style*/
}

nav {



    background: #202020;
    height: 80px;
    width: 100%;
    margin: 0;


}


label.logo {


    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: normal;
    font-family: Segoe UI;

}

nav ul {

    float: right;
    margin-right: 10px;



}

ul li {

    display: inline-block;

    line-height: 80px;
    margin: 0 5px;
    text-decoration: none;


}

nav ul li a {


    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;

}

 #hover .active,
.active:hover {

    background-color: aquamarine;
    transition: .5s;
    border-radius: 15px;
    text-decoration: none;
    color: #202020;
    font-weight: 900;


}

.checkbtn {

    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {

    display: none;



}












.header {


    text-align: center;


}



@media screen and (max-width:952px) {


    label.logo {

        font-size: 30px;
        padding-left: 50px;

    }

    nav ul li a {

        font-size: 16px;


    }

}


@media screen and (max-width:858px) {

    .checkbtn {

        display: block;


    }

    ul {

        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }


    nav ul li {


        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    nav ul li a {


        font-size: 20px;


    }

    a:hover,
    a:active {

        background: none;
        color: #0082e6;



    }

    #check:checked~ul {

        left: 0;



    }

    section {

        background: url(bgq.jpg) no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);


    }






}



/*nav -------end*/


/*header Part*/


.col-heder {


    display: flex;
    justify-content: center;
    justify-items: center;


    width: 100%;
    height: 1000px;
    background: #2c3e50;
    margin: 0;
}



.card-heder {

    justify-items: center;


    width: 500px;
    height: 500px;
    border-radius: 100%;
    margin-top: 90px;

}



.body-header {



    margin-top: 20px;
    text-align: center;




}


.card-image {

    width: 500px;
    border-radius: 100%;
    height: 500px;
    border-radius: 100%;
    box-shadow: 2px 4px 15px 2px;

}




@media screen and (max-width:534px) {

    .card-heder {

        justify-items: center;



        height: 500px;
        border-radius: 100%;
        flex-wrap: wrap;


    }

    .card-image {


        width: 300px;
        height: 300px;
        margin-bottom: 15px;

        border-radius: 100%;
        box-shadow: 2px 4px 15px 2px;


    }


    .col-heder {


        display: flex;
        justify-content: center;
        justify-items: center;


        width: 100%;
        height: 1000px;
        background: #2c3e50;
        margin: 0;

    }

    .col-heder {


        display: flex;
        justify-content: center;
        justify-items: center;


        width: 100%;
        height: fit-content;
        background: #2c3e50;
        margin: 0;

    }

    .header-article{


        font-family: 'Times New Roman', Times, serif; 
        font-size: small;
         font-weight: 100;



    }

    .title-header{


       font-size: large;
       



    }


}


@media screen and (max-width:858px) {

    .col-heder {


        width: 100%;



    }

    .body-header {


        height: fit-content;


    }

    .card-image {

        margin-bottom: 15px;


    }





}



/*heder_____________part end*/



/* grid section create*/


.container{




display: flex;

justify-content: center;
justify-items: center;

width: 100%;



}

#row {


 





}

.card, .card-img-top{

    background-color: #b9b9b9;
    width: 60rem;
    

  
margin-bottom: 30px;


border-radius: 1rem;

     
}

.card-img-top{

padding: 30px;




}

.card-body{

border-radius: 10px;

padding: 30px;
font-weight: 900;
font-style: italic;
font-size: large;
background: #b8b8b8;


border-top: solid;

}

 







.heading-p {

    margin: 20px;
    text-align: center;

    font-size: 35px;
    font-weight: 500;


}

#btn {

    width: 20%;
    height: 50px;
    border-radius: 20px;
    background-color: #a7a7a7;
    box-shadow: 1px 2px 15px 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    

    
    


}


@media screen and (max-width:858px) {



    .card, .card-img-top{

        background-color: #b9b9b9;
        width: 30rem;
        
    
      
    margin-bottom: 30px;
    
    
    border-radius: 1rem;
    
         
    }



    li {

        color: aliceblue;

        margin: 20px;

    }


#btn {

    width: 50%;
    height: 50px;
    border-radius: 20px;
    background-color: #a7a7a7;
    box-shadow: 1px 2px 15px 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    

    
    


}







}


@media  screen and (max-width:1304px){

    .card, .card-img-top{

        background-color: #b9b9b9;
        width: 35rem;
        
    
      
    margin-bottom: 30px;
    
    
    border-radius: 1rem;
    
         
    }


    
}

@media  screen and (max-width:740px) {
    

    .card, .card-img-top{

        background-color: #b9b9b9;
        width: 25rem;
        
    
      
    margin-bottom: 30px;
    
    
    border-radius: 1rem;
    
         
    }


    #btn {

        width: 100%;
        height: 50px;
        border-radius: 20px;
        background-color: #a7a7a7;
        box-shadow: 1px 2px 15px 2px;
        margin-top: 10px;
        margin-bottom: 30px;
        
    
        
        
    
    
    }


}

@media  screen and (max-width:550px) {


    .card, .card-img-top{

        background-color: #b9b9b9;
        width: 18rem;
        
        
    
      
    margin-bottom: 30px;
    
    
    border-radius: 1rem;
    
         
    }



    #btn {

        width: 100%;
        height: 50px;
        border-radius: 20px;
        background-color: #a7a7a7;
        box-shadow: 1px 2px 15px 2px;
        margin-top: 10px;
        margin-bottom: 30px;
        
    
        
        
    
    
    }

}


    
    @media screen and (max-width:360px) {


        .card, .card-img-top{

            background-color: #b9b9b9;
            width: 15rem;
            
            
        
          
        margin-bottom: 30px;
        
        
        border-radius: 1rem;
        
             
        }





        
    }






/* grid end*/



/*footer*/

.footer-container {


    width: 100%;

    background: rgb(63, 57, 57);
    margin: 0;
    margin-bottom: 0;
    padding: 0;

}

.footer {

    display: flex;

    justify-content:center;
    
    margin: 0px;



}

 .footimg{

    color: aliceblue;

    margin: 10px;

}


@media screen and (max-width:858px) {

  
    .footer-container {


        width: 100%;
    
        background: rgb(63, 57, 57);
        margin: 0;
        margin-bottom: 0;
        padding: 0;
    
    }
    
    .footer {
    
        display: flex;
    
        justify-content:center;
        
        margin: 0px;
    
    
    
    }
    
     .footimg{
    
        color: aliceblue;
    
        margin: 10px;
    
    }







}













/*footer__end*/