* {



    
    list-style: none;


}

a {

    text-decoration: none;
    color: black;
}



.main-container {


    list-style: none;



}

.main-section {


    border-right: 2px solid;




}

.profile img {

    margin: 40px;
    box-shadow: 1px 0.1px 50px 1px;

    border: solid white;

}


/* content_section */


.content-start{





}








/* content_section_end */